<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @prescription.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @prescription.instructions %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @prescription.patient %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
